@font-face {
  font-family: "orbito";
  src: url("./orbito-font\ \(1\)/");
}
* {
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: white;
}
/* home */
.home {
  width: 100%;
  height: 100vh;
  background-color: rgb(1, 1, 133);
  background: url("./bacround_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.home > section {
  height: 120px;
  width: 80%;
}
section > header {
  height: 35%;
  width: 100%;
  background-color: rgba(78, 78, 78, 0.352);
  backdrop-filter: blur(3px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > .header-item {
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    display: flex;
    gap: 10px;
    color: white;
    text-decoration: none;
  }
}
section > nav {
  height: 65%;
  width: 100%;
  background-color: #7ad03a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > .nav-items {
  width: 50%;
  /* background-color:   aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: drag2 1s linear forwards;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    transform: scale(1.1);
    transition: all 0.3 ease-in-out;
  }

  a:hover .bi-chevron-down {
    display: inline-block;
    transform: rotate(180deg);
    transition: all 0.5s ease;
    /* .webp */
  }
}
@keyframes drag2 {
  from {
    transform: translatex(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
  }
}
.content-head {
  height: 400px;
  width: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  p {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 4rem;
    color: white;

    span {
      color: #7ad03a;
    }
  }
  input {
    background-color: #7ad03a;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 20px;
    color: white;
    animation: pulse 1.5s infinite;
  }
}
@keyframes pulse {
  0% {
  }
}
.content-head h1 {
  animation: zoomout 400ms ease-in;
}
@keyframes showup {
  to {
    opacity: 1;
    transform: scaleX(1.5);
  }
}
.content-head p {
  animation: showup 1500ms ease-in forwards;
  opacity: 0;
  animation-delay: 1000ms;
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  animation: drag 1s linear;
}
@keyframes drag {
  from {
    transform: translatex(-200px);
    opacity: 0;
  }
  to {
    transform: translatex(0px);
    opacity: 1;
  }
}
.choose {
  width: 100%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.programs {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.program-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.programs > div {
  width: 240px;
  height: 380px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  p {
    margin: 10px;
  }

  input {
    margin-bottom: 20px;
    width: 60%;
    height: 36px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #7ad03a;
    color: white;
  }
}
.program-card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.featured-card:hover:hover {
  outline: 1px solid #7ad03a;
  transform: scale(1.2);
}
/* ************************ features ******************** */
/* services */
.feature-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.services {
  display: flex;
  width: 90%;
  height: 100px;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
}
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.service {
  height: 4em;
  width: 350px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  gap: 1em;
  border: 0.5px solid rgb(181, 176, 176);
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
  h5 {
    padding-bottom: 5px;
  }
}
/* feature-products */
.featured {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headding-feature {
  width: 80%;
  margin-top: 100px;
  height: 100px;
  display: flex;
  color: #7ad03a;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-division {
  margin-top: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-card {
  width: 230px;
  height: 280px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  gap: 1em;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  img {
    border-radius: 20px;
    width: 100%;
  }
}
.featured-card .btn {
  width: 100%;
  height: 40px;
  text-align: center;
  align-content: center;
  background-color: #7ad03a;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: #f9f8f9;
  }
}
.offer {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px;
  background-color: orange;
}
/* *******************category******************* */
.categories {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background: url("category_bg.jpg") fixed no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-container {
  display: grid;
  width: 60%;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* filter: brightness(100%); */
}
.categoryitems {
  width: 260px;
  height: 130px;
  background-color: white;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
/* recent-blogs */
.blogs {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
  justify-content: space-evenly;
  width: 60%;
}
.blog {
  width: 450px;
  height: 180px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  outline: 1px solid black;
  justify-content: space-between;
  background-color: white;
  position: relative;
  img {
    height: 100%;
    width: 45%;
  }
}
.blog-date {
  position: absolute;
  background-color: #7ad03a;
  color: #f9f8f9;
  padding: 5px;
  top: 8px;
  left: 68px;
}
.blog > .blog-content {
  margin-left: 10px;
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    margin-top: 10px;
  }
  i {
    margin-right: 10px;
  }
  a {
    color: #7ad03a;
    margin-right: 10px;
    text-decoration: none;
  }
}
.blog-content > a {
  color: white;
  padding: 10px;
}
.recent-blogs {
  margin-top: 50px;
}
/* partners */
.carosal-sponcer {
  margin-top: 60px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carosal {
  margin: 80px auto;
  width: 60%;
  display: flex;
  overflow-x: auto;
}
.carosal::-webkit-scrollbar {
  display: none;
}
.carosal-items {
  flex: 0 0 5em;
  height: 6em;
  padding: 2em;
}
/* deal of the week */
.deal-week {
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.deal-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.deals {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
}
.deal-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f9f8f9;
  border: 0.3px solid black;
  border-radius: 10px;
  img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.deal-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 10px;
}
.deal-btn {
  padding: 8px;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #7ad03a;
  color: #f9f8f9;
}
/* testimonial */
.Testimonial,
.contribution,
.update-sect {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Testimonial-container,
.contribution-container,
.updatesect-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.testimonial-content {
  width: 90%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  background-color: white;
}
.testi-empty {
  margin: 20px;
  width: 400px;
  height: 400px;
  border: 5px solid #7ad03a;
  border-radius: 10px;
}
.testi-comments {
  position: absolute;
  left: 180px;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 10px;
  div {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  img {
    width: 200px;
    border-radius: 10px;
  }
  p {
    line-height: 2rem;
    text-align: justify;
  }
}
.contribution-content {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  img {
    width: 600px;
  }
}
.contri-text {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 20px;
  h2 {
    color: #7ad03a;
    font-size: 2.5rem;
  }
  p {
    text-align: justify;
    line-height: 30px;
    font-size: 1rem;
  }
}
.contri-btn {
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: #7ad03a;
  color: white;
  gap: 20px;
  p {
    font-size: 1rem;
  }
  a {
    font-size: 3rem;
  }
}
.bi-arrow-right-circle-fill {
  color: #fff;
}
.updatesect-container {
  height: 250px;
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #7ad03a;
  h2 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  div {
    position: relative;
    width: 600px;
    background-color: #7ad03a;
    border-radius: 20px;
    input {
      width: 95%;
      height: 45px;
      border-radius: 20px;
    }
    button {
      height: 50px;
      border-radius: 20px;
      background-color: black;
      color: #f9f8f9;
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
  background-color: rgb(52, 52, 52);
}
.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-items {
  margin-top: 50px;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  color: grey;
  a {
    color: gray;
    text-decoration: none;
  }
  button {
    outline: none;
    border: inset;
    border-radius: 10px;
    background-color: orange;
    height: 40px;
    width: 100px;
  }
}
.copyrights {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
